body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.container {
    background: #fff;
    border-radius: 10px;
}

.time-box{
    justify-content: space-between;
}

.time-up{
    width: 100%;
    text-align: center;
    display: none;
}

