:root {
    --clr-1: #F8F9FA;
    --clr-2: #DEE2E6;
    --clr-3: #ADB5BD;
    --clr-4: #495057;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #4D194D, #3E1F46, #312244, #272640, #212F45, #1B3A4B);
}

.container {
    position: relative;
    background: #eee;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
}

/*Attempt at glowing animated border*/
.container::before,
.container::after {
    content: '';
    position: absolute;
}

.time-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.time-btn{
    border-radius: 50%;
    border: none;
    color: #534B52;
}

.time-btn:hover{
    color: #2D232E;
}

/*For Google Fonts icons*/
.material-icons{
    font-size: 4rem;
}